body{background-color: rgb(146, 146, 146);

    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

image{

width: 100000xp;

padding: auto;

margin: auto;

}