body{
    background-color: rgb(133, 175, 154);

color: rgb(0, 0, 0);

font-size:30xp ;

font-family: monospace;

text-align: center;

}


h1{background-color: beige;}

image{

width: 100000xp;

padding: auto;

margin: auto;

}